<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<table width="100%" border="0" cellpadding="0" cellspacing="0" class="table table-hover" style="table-layout: fixed;word-wrap:break-word;">
			<thead>
			    <tr position: fixed>
			        <th style="width: 90px">变量名</th>
			        <th style="width: 200px">变量值</th>
			        <th style="width: 110px">变量位置</th>
			        <th style="width: 60px">类型</th>
			        <th style="width: 45px;text-align: right">操作</th>
			    </tr>
			</thead>
			<tbody id="environment-table">
				<tr>
					<td>+ res[i].key +</td>
					<td>+ res[i].key +</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
